{% extends 'base.html' %}

{% block head %}
<title>Reference</title>
{% endblock %}

{% block body %}
<br>
  <h3>Reference :</h3>
  <div class="form-group">
  <a href="https://www.youtube.com/watch?v=3mwFC4SHY-Y&ab_channel=CleverProgrammer">Python Flask Tutorial for Beginners - Full Course in 3 hours (2020)</a><br>
  <a href="https://flask.palletsprojects.com/en/2.0.x/quickstart/">Flask Intro</a><br>
  <a href="https://codeburst.io/jinja-2-explained-in-5-minutes-88548486834e">Jinja2 Basics</a><br>
  <a href="https://getbootstrap.com/docs/5.1/examples/">Bootstrap Codes</a><br>
  <a href="https://getbootstrap.com/docs/4.0/components/buttons/">Button Reference Bootstrap</a><br>
  <a href="https://stackoverflow.com/questions/45877080/how-to-create-dropdown-menu-from-python-list-using-flask-and-html">Dropdown Menu Reference</a><br>
  <a href="https://www.freecodecamp.org/news/python-list-files-in-a-directory-guide-listdir-vs-system-ls-explained-with-examples/">List file in a Directory</a><br>
  <a href="https://www.educba.com/flask-upload-file/">Flask upload file</a><br>
  <a href="https://blog.miguelgrinberg.com/post/handling-file-uploads-with-flask">Handling File Uploads With Flask</a><br>
  <a href="https://stackoverflow.com/questions/6996603/how-do-i-delete-a-file-or-folder-in-python">Delete file or folder</a><br>
  <a href="https://www.geeksforgeeks.org/python-os-remove-method/">os.remove() method</a><br>
  <a href="https://stackoverflow.com/questions/17413254/flask-to-write-data-into-file">Write Data to text</a><br>
  <a href="https://stackoverflow.com/questions/40246702/displaying-a-txt-file-in-my-html-using-python-flask">Read data from text</a><br>
  <a href="https://stackoverflow.com/questions/6348207/making-a-paragraph-in-html-contain-a-text-from-a-file">Including data from text</a><br>

  </div>
{% endblock %}